<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Stop');"><%= image_tag("education") %></div>
            <div class="carousel-caption">
              <!-- <h1 class="cText"><strong>Stop</strong></h1> -->
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Sexual');">  <%= image_tag("census") %></div>

            <div class="carousel-caption">

              <!-- <h1 class="cText"><strong>Sexual</strong></h1> -->
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Assault');"><%= image_tag("campussafety") %></div>
            <div class="carousel-caption">
              <!-- <h1 class="cText"><strong>Assault</strong></h1> -->
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>


<div class="container">


    <div class="row">
        <div class="col-lg-12">
            <h1 class="blueWords page-header text-center">
                Help Us End Sexual Assault
            </h1>
        </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="blueWords text-center">
                    We used data from the Department of Education and the U.S. Census Bureau
                    to predict the number of sexual assaults that would occur on thousands
                    of campuses across the nation.
                </h3>

            </div>

            <div class="col-lg-6">
                <%= image_tag("tableau") %>
            </div>

    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6 text-right">

            <br>

            <button type="button" class="btn btn-default"><%= link_to 'Find out how your campus did >', page_path('map') %></button>
        </div>

        <div class="col-lg-6">
        </div>

</div>

<hr>

        <div class="row">


            <div class="col-lg-6">
                <%= image_tag("liquor") %>
            </div>
            <div class="col-lg-6">
                <h4 class="blueWords text-center">
                    Liquor violations are very related to the number of sexual assaults
                    that occur on a campus. This is very useful to any administration
                    who is looking to lower incidences of sexual assault. Using our prediction
                    map administrators can see what is how many sexual assaults their campus
                    is predicted to have, and can make decisions and
                    policies that work towards limiting the assaults. Removing liquor
                    from campuses, or even being more strict with liquor rules could
                    have huge results for any university that decides to implement these policies.
                </h4>
                <br>

                <button type="button" class="btn btn-default"><%= link_to 'Learn more about our methodology >', page_path('report') %></button>
            </div>

    </div>
    <!-- /.row -->






    <hr>


</div>

<script>
$(document).on('ready', function () {
  $('.carousel').carousel({
      interval: 2500 //changes the speed
  })
});
</script>
